.pinned-task-search-bar {
  display: flex;
  align-items: center;
  background: var(--bg-color-white);
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  margin: 0.5rem;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  color: var(--secondary-color-light-2);
}

.pinned-task-search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  flex: 1;
  padding: 0.25rem 0;
  color: var(--text-color-dark);
}

.pinned-task-search-input::placeholder {
  color: var(--secondary-color-light-2);
}
