.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color-white) !important;
  color: var(--text-color-dark) !important;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 90vw;
  z-index: 1001;
}

.popup-modal-content h2,
.popup-modal-content div {
  color: var(--text-color-dark);
}

.popup-modal-content label {
  display: block;
  margin-bottom: 1rem !important;
}

.popup-modal-content input,
.popup-modal-content select,
.popup-modal-content input[type='color'] {
  margin-top: 0 !important;
  color: #9998ab;
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: var(--secondary-color-light);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; /* ensures padding is included in width */
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
}

.popup-modal-content button {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.2rem;
  background: var(--primary-color) !important;
  color: var(--text-color-light) !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.popup-modal-content button:hover {
  background: var(--accent-color) !important;
}

.popup-modal-content button:disabled {
  background: var(--primary-color) !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
}
