.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
}

.popup-modal-content div,
h2 {
  color: var(--text-color-dark) !important;
}

.tags-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.tag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn {
  padding-right: 0.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.remove-btn {
  padding-right: 0.5rem;
  cursor: pointer;
  color: var(--bg-color);
}

.add-btn:hover,
.remove-btn:hover {
  color: var(--accent-color);
}

.close-btn {
  padding: 0.5rem 1.2rem;
  background: var(--primary-color) !important;
  color: var(--text-color-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.close-btn:hover {
  background: var(--accent-color) !important;
}
