@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */

  --primary-color: #82a0bc;
  --primary-color-dark: #af9fa5;

  --secondary-color: #af9fa5;
  --secondary-color-light-2: #e4dee4;
  --secondary-color-light: #e7dfe8;

  --accent-color: #63adf2;
  --accent-color-2: #e4d961;
  --accent-color-3: rgb(108, 177, 177);

  --error-color: #b00020;

  --bg-color: #a7cced;
  --bg-color-white: #efefef;
  --bg-color-dark: #63adf2;

  --text-color-light: #ffffff;
  --text-color-disabled: #bdbdbd;
  --text-color-dark: #4c4c4c;

  [app-theme='dark'] {
    --primary-color: #333947;
    --primary-color-dark: #9998ab;

    --secondary-color: #9998ab;
    --secondary-color-light-2: #ffffff;
    --secondary-color-light: #e7dfe8;

    --accent-color: #63adf2;
    --accent-color-2: #e4d961;
    --accent-color-3: rgb(108, 177, 177);

    --error-color: #b00020;

    --bg-color: #252a36;
    --bg-color-white: #545e75;
    --bg-color-dark: #636180;

    --text-color-light: #ffffff;
    --text-color-disabled: #bdbdbd;
    --text-color-dark: #eeeeee;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

h1 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0;
}
