@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */
  --primary-color: #a5a4b8;
  --primary-color-dark: #9998ab;

  --secondary-color: #777777;
  --secondary-color-light: #e6e6e6;

  --error-color: #b00020;

  --bg-color: #7f7e90;
  --bg-color-white: #efefef;

  --text-color-light: #ffffff;
  --text-color-disabled: #bdbdbd;
  --text-color-dark: #4c4c4c;

  [app-theme='dark'] {
    --primary-color: #777777;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

h1 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0;
}
