.collapse-button {
  position: absolute;
  top: 0.25rem;
  right: 4rem;
  z-index: 10;
  cursor: pointer;
  color: var(--secondary-color-light);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  transform-origin: center;
}

.collapse-button:hover {
  color: var(--secondary-color-light-2);
  transform: rotate(180deg);
}
