.checkbox-button {
  color: #848484;
  background: none;
  border: none;
  padding: 0 0 0 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-button:hover {
  color: #ee6868;
}
