.task-card-expand {
  cursor: pointer;
  color: var(--secondary-color-light-2);
  margin-left: auto;
  align-self: center;
  margin-top: 4px;
  margin-right: 10px;
}

.task-card-expand:hover {
  color: var(--secondary-color);
}
