.settings-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
  cursor: pointer;
  color: var(--secondary-color-light);
}

.settings-button:hover {
  color: var(--secondary-color-light-2);
}
