.settings-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
  cursor: pointer;
  color: var(--secondary-color-light);
  transition:
    transform 0.6s ease,
    color 0.3s ease;
  transform-origin: center;
}

.settings-button:hover {
  color: var(--secondary-color-light-2);
  transform: rotate(360deg);
}
