.delete-button {
  cursor: pointer;
  background: transparent;
  --btn-center: var(--secondary-color-light-2);
  color: var(--secondary-color-light);
  padding: 0;
  border: none;
}

.delete-button:hover {
  color: #ee6868;
  --btn-center: var(--text-color-light);
}
