.pinned-task-bar {
  background-color: #e4e4e4;
  width: 30vw;
  height: 100%;
  border-radius: 12px;
  border: 2px solid #848484;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
