.pinned-task-bar {
  background-color: var(--bg-color-white);
  width: 30vw;
  height: 100%;
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
