.home-page-container {
  background: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  width: 98vw;
  height: 96vh;
  min-width: 320px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.home-page-main {
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.home-page-title {
  font-size: 2.5rem;
  margin: 0.5rem 0 0 0;
  color: var(--text-color-light);
  height: 3.5rem;
}
