.settings-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 85vh;
  width: 50vw;
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  color: var(--text-color-light);
  align-items: left;
  padding: 1rem 2rem 0 2rem;
  position: relative;
  overflow: auto;
}

.settings-page-container h2 {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.settings-header {
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
  color: var(--text-color-light);
}

.current-user-info {
  margin-top: 0;
}

.back-link {
  position: fixed;
  top: 1rem;
  left: 2rem;
  color: var(--text-color-light);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.back-link:hover {
  color: var(--secondary-color-light);
}

button {
  transition: all 0.25s ease;
  display: inline-block;
}

.logout-button,
.add-tag-button,
.account-settings button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--text-color-light);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  transition: all 0.25s ease;
}

.logout-button:hover,
.add-tag-button:hover,
.account-settings button:hover {
  background-color: var(--bg-color-dark);
  transform: scale(1.05);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.user-tags-section {
  padding-bottom: 1rem;
}

.account-settings button {
  margin-right: 1rem;
}

.theme-section select,
.retention-time-section input[type='number'] {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color-light);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.25s ease;
  min-width: 10rem;
}

.theme-section select:hover,
.retention-time-section input[type='number']:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.retention-time-section input[type='number'] {
  width: 5rem;
  margin-right: 1rem;
}

.retention-time-section input[type='number']:focus {
  outline: 2px solid var(--bg-color);
}

.user-tags-header {
  margin-bottom: 0;
}

.current-user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--secondary-color-light);
  margin: 24px 0;
}
