.settings-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 90vh;
  width: 50vw;
  border-radius: 1rem;
  color: var(--text-color-light);
  align-items: left;
  padding: 1rem 2rem 0 2rem;
  position: relative;
  overflow: scroll;
}

.settings-page-container h2 {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.settings-header {
  font-size: 3.5rem;
}

.current-user-info {
  margin-top: 0;
}

.back-link {
  position: fixed;
  top: 1rem;
  left: 2rem;
  color: var(--text-color-light);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.back-link:hover {
  color: var(--secondary-color-light);
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  width: 8rem;
  color: var(--text-color-light);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
}

.logout-button:hover {
  background-color: var(--bg-color-dark);
}

.theme-section,
.retention-time-section {
  max-width: 30rem;
}

.theme-section select {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color-light);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  min-width: 10rem;
}

.retention-time-section label {
  font-size: 1.1rem;
  color: var(--text-color-light);
  margin-right: 0.5rem;
}

.retention-time-section input[type='number'] {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color-light);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  width: 5rem;
  margin-right: 1rem;
}

.retention-time-section input[type='number']:focus {
  outline: 2px solid var(--bg-color);
}

.user-tags-header {
  margin-bottom: 0;
}

.add-tag-button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  width: 8rem;
  color: var(--text-color-light);
  font-weight: bold;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
}

.add-tag-button:hover {
  background-color: var(--bg-color-dark);
}

.account-settings button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  width: 12rem;
  color: var(--text-color-light);
  font-weight: bold;
  margin-right: 1rem;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
}

.account-settings button:hover {
  background-color: var(--bg-color-dark);
}
