.tag-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.tag-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
}

.no-tags-text {
  font-style: italic;
  margin: 0.25rem 0;
}

.tag-item-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
}
