.add-task-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  --btn-center: var(--primary-color-dark);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color-dark);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-task-button:hover {
  background-color: var(--bg-color-dark);
  --btn-center: var(--bg-color);
}
