.add-task-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #7f7e90;
  color: #a5a4b8;
  border: 1px solid #636180;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #636180;
}
