.tag-button {
  color: var(--accent-color-2);
  position: absolute;
  bottom: 0.1rem;
  right: 2rem;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.tag-button:hover {
  color: var(--accent-color);
}
