.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.task-card {
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  background: var(--bg-color-white);
  position: relative;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.task-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 10px 10px 25px;
  gap: 8px;
}

.task-card-content-expanded {
  padding: 10px 10px 5px 25px;
}

.task-card-title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 1.9rem;
  color: var(--text-color-dark);
}

.task-due-date {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  font-weight: 500;
}

.task-subtask-count {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  font-weight: 500;
}

.task-card-footer {
  padding: 0 0 0 25px;
  align-items: center;
}

.task-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.title-and-tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-card-subtasks {
  margin-left: 25px;
  margin-bottom: 1.5rem;
}

.task-card-edit-button {
  position: absolute;
  bottom: 0.1rem;
  right: 4rem;
}

.task-card-delete-button {
  position: absolute;
  bottom: -0.05rem;
  right: 0.25rem;
}
