.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.task-card {
  border-radius: 12px;
  border: 2px solid #848484;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  background: #f5f5f5;
  position: relative;
  margin-bottom: 0.5rem;
}

.task-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 10px 10px 25px;
  gap: 8px;
}

.task-card-content-expanded {
  padding: 10px 10px 5px 25px;
}

.task-card-title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  color: #4c4c4c;
}

.task-card-pin {
  color: #848484;
  font-size: 1.1rem;
  position: absolute;
  top: -2px;
  left: 4px;
  z-index: 1;
}

.task-card-pin:hover {
  color: #ee6868;
}

.task-card-checkbox {
  color: #848484;
  background: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card-checkbox:hover {
  color: #ee6868;
}

.task-card-expand {
  cursor: pointer;
  color: #d9d9d9;
  margin-left: auto;
  align-self: center;
  margin-top: 4px;
  margin-right: 10px;
}

.task-card-expand:hover {
  color: #b9b9b9;
}

.task-card-delete {
  position: absolute;
  bottom: 6px;
  right: 6px;
  cursor: pointer;
  color: #848484;
  background: transparent;
  padding: 0;
  border: none;
}

.task-card-tag-button {
  position: absolute;
  bottom: 3px;
  right: 38px;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.task-description-input {
  color: #848484;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 0 8px 25px;
  margin: 0;
  cursor: text;
  font-size: 0.65rem;
}
