.task-card {
  border-radius: 12px;
  border: 2px solid #848484;
  box-shadow: 0 8px 4px -2px rgba(0, 0, 0, 0.16);
  background: #f5f5f5;
  position: relative;
}

.task-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 10px 10px 25px;
}

.task-card-title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  color: #4c4c4c;
}

.task-card-description {
  font-size: 0.97rem;
  color: #444;
}

.task-card-pin {
  color: #848484;
  font-size: 1.1rem;
  position: absolute;
  top: -2px;
  left: 4px;
  z-index: 1;
}

.task-card-checkbox {
  color: #848484;
  background: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
