.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.task-card {
  border-radius: 12px;
  border: 2px solid #848484;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
  background: #f5f5f5;
  position: relative;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.task-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 10px 10px 25px;
  gap: 8px;
}

.task-card-content-expanded {
  padding: 10px 10px 5px 25px;
}

.task-card-title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 1.9rem;
  color: #4c4c4c;
}

.task-due-date {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #4c4c4c;
  font-weight: 500;
}

.task-subtask-count {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #4c4c4c;
  font-weight: 500;
}

.task-card-footer {
  padding: 0 0 0 25px;
  align-items: center;
}

.task-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-left: 8px;
}

.task-card-subtasks {
  margin-left: 25px;
  margin-bottom: 1.5rem;
}
