.popup-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color-white);
  color: var(--text-color-dark);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

.popup-modal-content label {
  margin-bottom: 0 !important;
}

.popup-modal-content input,
.popup-modal-content select {
  margin-top: 0 !important;
  color: var(--text-color-dark);
}

.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: var(--secondary-color-light);
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.16);
}

.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select::placeholder {
  color: var(--text-color-disabled);
}

.form-group textarea {
  resize: vertical;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 0.5rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.modal-actions button {
  background: var(--primary-color) !important;
  color: var(--text-color-light) !important;
}

.modal-actions button:hover {
  background: var(--accent-color) !important;
}

.modal-actions button:first-child:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
