.task-description-container {
  position: relative;
}

.task-description-input {
  color: #848484;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  min-height: 1.5em;
  max-width: 100%;
  resize: vertical;
  padding: 0 65px 0px 25px;
  margin: 0;
  cursor: text;
  font-size: 1.1rem;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  resize: none;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
}
